
* {
    box-sizing: border-box; /* Faz largura incluir bordas e padding */
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

nav {
    background-color: #3505f6;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0;
}

.menu a {
    display: block;
    padding: 25px 20px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    background-color: #555;
}
.conteiner{
    align-items: center;
        justify-content: center;
        display: flex;
}